#parent {
    position:absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%) scale(1);
    height: 500px;
    width: 1084px;
    font-family: myFont;
    font-size: 20px;
    display: none;
    
}

#left {
    position: absolute;
    left: 0px;
    top: 0px;
}
#canvasContainer
{
    position:absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
}

#right {
    position: absolute;
    right: 0px;
    top: 0px
}

div{
    width: 400px;
    font-size: 30px;
    font-family: myFont;
    
}

#memetext{
    -webkit-text-stroke-width: thin;
    -webkit-text-fill-color: white;
}

  
@font-face {
    font-family: myFont;
    src: url(impact.ttf);
}


  .tab {
  width: 98vw;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  display: flex;
  justify-content: space-around;
}

.tab a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
}

.tab a:hover {
  background-color: #ddd;
}

.tab a.active {
  background-color: #ccc;
}

#iframe {
  width: 100%;
  height: calc(100vh - 50px); 
  border: none;
  overflow: hidden;
}


#loadtext{
    position: absolute;
    text-align: left;
    left: 50%;
    top: -30px;
    transform: translate(-50%,0) ;
    font-size: 30px;
    font-family: myFont;
}

p{
    text-align: left;
    width: 800px;
    font-size: 20px;
    font-family: myFont;
    line-height: 24pt;
}

